.readItem{

    display:flex;
    padding-top:.4rem;
    &:nth-child(1){
        padding-top:0;
    }
    .read_time{
        width:1rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size:.24rem;
        p:nth-child(1){
            font-weight:bold;
        }
    }
    .read_content_wrap{
        width:6.2rem;
        .read_title{
            font-size:.32rem;
            font-weight:bold;
        }
        .read_content{
            padding:.1rem 0;
            font-size:.28rem;
        }
    }
}