.ProductGameMasterBrief{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:.2rem;
    height:2.4rem;
    background:#ffffff;
    .wrap_img{
        width:3rem;
        img{
            width:100%;
            height:auto;
        }
    }
    .wrap_info{
        width:3.9rem;
        h4{
            font-weight:bold;
            font-size:.32rem;
        }
        >p{
            padding:.2rem 0;
            font-size:.28rem;
        }
        h6{
            display:flex;
            align-items: center;
            justify-content: space-between;
            p{
                height:.4rem;
                font-size:.28rem;
                color:#ff790b;
                text-align: left;
                overflow: hidden;   //超过不显示
                white-space:nowrap; //不换行
                .money{
                    font-size:.36rem;
                }
                .leftDays{
                    font-size:.24rem;
                    color:gray;
                }
            }
        }
    }
}