.ProductGameMasterBrief{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:2.4rem;
    background:#ffffff;
    .wrap_img{
        width:3rem;
        height:1.8rem;
        img{
            width:100%;
            height:100%;
        }
    }
    .wrap_info{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width:3.9rem;
        height:1.8rem;
        h4{
            font-weight:bold;
            font-size:.32rem;
        }
        >p{
            font-size:.28rem;
        }
        h6{
            display:flex;
            align-items: center;
            justify-content: space-between;
            height:.4rem;
            font-size:.28rem;
            color:#ff790b;
            overflow: hidden;   //超过不显示
            white-space:nowrap; //不换行
            .money{
                font-size:.36rem;
            }
            .leftDays{
                font-size:.28rem;
                color:gray;
            }
        }
    }
}