.SpecialClassBrief{
    padding:.2rem;
    background: #ffffff;
    .wrap{
        display:flex;
        justify-items: flex-start;
        justify-content: space-between;
        flex-wrap:wrap;
    }
}
.SpecialClassBriefItem{
    margin-bottom:.3rem;
    width:3.4rem;
    video{
        width:3.4rem;
        height:2.2rem;
    }
    p{
        width:3.4rem;
        font-weight:bold;
        font-size:.28rem;
        text-overflow:ellipsis;  //超过显示省略号
        overflow: hidden;   //超过不显示
        white-space:nowrap; //不换行
    }
}