.NewsPage{
    .tab_head{
        display:flex;
        align-items: center;
        justify-content: center;
        width:7.5rem;
        height:1rem;
        font-size:.40rem;
        background:#1F143E;
        >div{
            width:50%;
            height:1rem;
            display:flex;
            align-items: center;
            justify-content: center;
            color:gray;
        }
    }
}