.NewsPage{
    .title {
        img {
            width: 7.5rem;
            height: 1.45rem;
        }
    }
    .tabHead{
        ul{
            display:flex;
            align-items: stretch;
            justify-content: center;

            box-sizing: border-box;
            height:.8rem;
            background:#fff;
        }
        li{
            display:flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            width:30%;
            font-size:.28rem;
            color:#fff;
            &.normal{
                background:rgba(251,167,121,.5)
            }
            &.active{
                font-weight:bold;
                background:rgba(251,125,79,1)
            }
            &.line{
                width:1px;
                height:.3rem;
                background:#efefef;
            }
        }
    }
}